
/* Make Footer Sticky */
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

main {
   flex: 1 0 auto;
}

/* End Sticky Footer */

/* Google Sign-in*/
#g-sign-btn{
    padding-top: 1.5em;
}

.my-hover:hover {
    opacity: 0.8;
}

