{% extends "_base.html" %}

{% block top_block %}

        <div class="row center">
          <h4 class=" blue-grey-text text-lighten-4">
              <i class="material-icons">aspect_ratio</i>
              <br>
              <br>
              <br>
              Oops, something went wrong!
              (500 Error)
              <br>
              <br>
          </h4>
              <br>
              <br>
            <a href="{{ url_for('landing') }}" id="Get Started" class="btn-large waves-effect waves-light my-hover indigo accent-2">Back to Vim Labs
              <i class="material-icons right">play_arrow
              </i>
          </a>
        </div>

{% endblock %}

{% block page_content %}
{% endblock %}

    
