<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Vim Labs</title>

  <!-- SEO -->
  <meta name="description" content="Learn Vim interactively from scratch. Master Vim's powerful, elegant syntax from the basics of editing to advanced automation. Each module comes with a full Vim editor in your browser along side step-by-step explanations." />
  <meta name="keywords" content="vim, learn vim, vim tutorial, vim interactive tutorial, vim beginner" />

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/vim-labs.ico') }}" type="image/x-icon">

  <!-- guided intro -->
  <link href="{{ url_for('static', filename='css/enjoyhint.css') }}" rel="stylesheet">

    <!-- ACE EDITOR -->
<style type="text/css" media="screen">
    .ace_editor {
        position: relative !important;
        margin: auto;
        height: 575px;
        width: 95%;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .ace_editor.fullScreen {
        height: auto;
        width: auto;
        border: 0;
        margin: 0;
        position: fixed !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }


    .fullScreen {
        overflow: hidden
    }

    .scrollmargin {
        height: 500px;
        text-align: center;
    }

    .large-button {
        color: lightblue;
        cursor: pointer;
        font: 30px arial;
        padding: 20px;
        text-align: center;
        border: medium solid transparent;
        display: inline-block;
    }
    .large-button:hover {
        border: medium solid lightgray;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 0 12px 0 lightblue;
    }

</style>

</head>

<body style="background-color: #1c2834;">
    <main>
  <nav style="background-color: #19242f;" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ url_for('landing') }}" class="brand-logo white-text"> 
            <i class="material-icons">subtitles</i>Vim Labs
        </a>

      <ul class="right hide-on-med-and-down ">
        {% if current_user.is_authenticated %}
            <li>Hi, {{ current_user.nickname }}!</li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('landing') }}" class="blue-grey-text text-lighten-1">Learn Interactively</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav  cyan darken-4">
        <li><a href="{{ url_for('landing') }}" class="white-text text-darken-1">Learn Interactively</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="container">
    <div class="section">
        <div class="row">
        <div class="col s6 ">
            <!-- TABS -->
    {% block steps %}
    {% endblock %}

        </div>

        <!--- EDITOR SETTINGS-->
        {% block editor_text %}
        {% endblock %}
        </div>
    </div>
        <div class="row right-align">
        <div class="col s6 ">
  <a id="next-tab" class="btn-flat waves-effect waves-light" style="color: #f44336;">
      <span class="blue-grey-text">j</span>
      <i class="material-icons">trending_flat</i>
  </a>
        </div>
        <div class="col s6 ">
        </div>
        </div>
  
  </div>


  
  <div class="container">
    <div class="section">
        {% block bottom_center %}
        {% endblock %}
      </div>
  </div>
    </main>
  <footer class="page-footer" style="background-color:#111921;">
    <div class="footer-copyright" style="background-color:#111921;">
      <div class="container">
      Made by <a class="blue-grey-text text-lighten-1" href="http://markibrahim.me/">Mark Ibrahim</a>
      <a class="blue-grey-text text-lighten-1 right" href="mailto:tryvimlabs@gmail.com?Subject=Vim%20Labs%20Questions%2FFeedback">Questions/Feedback?</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- adds keyboard shortcuts -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds_midnight");
    editor.getSession().setMode("ace/mode/python");
    editor.setKeyboardHandler("ace/keyboard/vim");

//    ace.config.loadModule("ace/keyboard/vim", function(m) {
//        var VimApi = require("ace/keyboard/vim").CodeMirror.Vim
//            VimApi.map("zf", "8j", "normal");
//        });

</script>

<!-- Tabs -->
<script>
  $(document).ready(function(){
          $('ul.tabs').tabs();
            });
        
</script>

    {% block introscript %}
    {% endblock %}

<!-- Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98340696-1', 'auto');
  ga('send', 'pageview');

</script>
  <!-- Google Search Structured Data -->
  <script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "WebPage",
  "name": "Vim Labs",
  "description": "Learn Vim interactively"
  }
  </script>

  <!-- Next Tab Button -->
  <script>
    cTab = "1";
    $("a#next-tab").click( function() {
        console.log("button clicked on tab " + cTab);
        // get current tab if manually changed
        $("ul.tabs").tabs({ onShow: function(tab) { cTab = tab["selector"].slice(-1); } });
        // compute next tab
        nTab = parseInt(cTab) + 1;
        nTab = nTab.toString();
        console.log(nTab);
        // catch case where index exceeds number of tabs
        if (nTab != "5") {
            // set to net tab
            $('ul.tabs').tabs('select_tab', "step"+nTab);
        }
    });
  </script>

  <!--- Add Keyboard Shortcut for Next Tab -->
  <script>
    Mousetrap.bind('j', function(e) {
        // click next if j is pressed
       document.getElementById("next-tab").click();
    });
  </script>

  <!-- Highlight Editor when clicked -->
  <script>
  editor.on("focus", function() {
      $("#editor").css({
          'box-shadow': '0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 #0089ec'
      });
  });
  editor.on("blur", function() {
      $("#editor").css({
          'box-shadow': '0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'
      });
  });
  </script>
  </body>
</html>
