<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Vim Labs</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body style="background-color: #1c2834;">
    <main>
  <nav style="background-color: #19242f;" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo white-text"> 
            <i class="material-icons">subtitles</i>Vim Labs
        </a>
    </div>
  </nav>


  <div class="container">
      {% block top_block %}
      {% endblock %}
  </div>

  <div class="container">
      {% block page_content %}
      {% endblock %}
    <div class="section"></div>
  </div>

  <div class="container">
    <div class="section">
      </div>
  </div>
    </main>
  <footer class="page-footer" style="background-color:#111921;">
    <div class="footer-copyright" style="background-color:#111921;">
      <div class="container">
      Made by <a class="blue-grey-text text-lighten-1" href="http://markibrahim.me/">Mark Ibrahim</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>



  </body>
</html>
