{% extends "_layout.html" %}
{% block top_block %}

<script src="https://js.stripe.com/v3/"></script>
<div class="row" id="stripe-form">
  <h4 class="blue-grey-text text-lighten-5 center-align">
    Vim Labs
      <p class="yellow-text  text-accent-2" style="font-size: 10px;">
          <i class="material-icons">
              card_membership
          </i>
          pro
      </p>
  </h4>
<form action="/paid" method="post" id="payment-form">
  <label>
    <input name="cardholder-name" class="field is-empty" placeholder="Jane Doe" />
    <span><span>Name</span></span>
  </label>
  <label>
    <div id="card-element" class="field is-empty"></div>
    <span><span>Card</span></span>
  </label>
  <button type="submit">Pay ${{ amount_dollars }}</button>
  <div class="outcome">
    <div class="error"></div>
    <div class="success">
      Vim Labs Pro
    </div>
  </div>
</form>
</div>

<script>
// pass public stripe key into form
var stripe = Stripe('{{ key }}');
var elements = stripe.elements();
</script>

<script src="{{ url_for('static', filename='js/custom-stripe.js') }}">
</script>
{% endblock %}
