{% extends "_layout.html" %}

{% block top_block %}
    <div class="section">
        <div class="row">
        <div class="col s2">
        </div>
        <div class="col s8">
            <img class="responsive-img center-align z-depth-4" src="{{ url_for('static', filename='img/vim-labs-demo.gif') }}">

        </div>
        <div class="col s2">
        </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
        <div class="row center">
            <a href="{{ url_for('module', number=1) }}" id="Get Started" class="btn-large waves-effect waves-light my-hover indigo accent-2">Start
              <i class="material-icons right">play_arrow
              </i>
          </a>
        {% if current_user.is_authenticated %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <p><a href="{{ url_for('logout') }}">Logout</a></p>
        {% else %}
        <div class="row center" >
            <a href="{{ url_for('oauth_authorize', provider='google') }}">
                <img id="g-sign-btn" class="my-hover" src="{{ url_for('static', filename='img/btn_google_signin_dark_normal_web.png') }}">
            </a>
        </div>
        {% endif %}
        </div>
        <div class="row" id="modules">
        <div class="divider"></div>
        <div class="col s12 center">

          <h3><i class="mdi-content-send"></i></h3>
          <h4 class=" blue-grey-text text-lighten-4">
              <i class="material-icons">aspect_ratio</i>
              <br/>
              Modules
          </h4>
          <h6></h6>
      <div class="row">
        <div class="col s12 m4">
          <div class="card small blue-grey darken-2 z-depth-5">
            <div class="card-content blue-grey-text text-lighten-5">
              <span class="card-title">Basic Editing</span>
              <hr>
              <p>Learn to how to type text, navigate a file, and appreciate Vim's modes.
              <br></p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('module', number=1) }}">Learn Now
              <i class="material-icons right">play_arrow
              </i>
              </a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card small blue-grey darken-2 z-depth-5">
            <div class="card-content blue-grey-text text-lighten-5">
              <span class="card-title"> Actions + Objects</span>
              <hr>
              <p>Learn Vim's elegant syntax for editing text. </p>
            </div>
            <div class="card-action">
              <a href="{{ url_for('module', number=2) }}">Learn Now
              <i class="material-icons right">play_arrow
              </i>
              </a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card small blue-grey darken-2 z-depth-5">
            <div class="card-content blue-grey-text text-lighten-5">
              <span class="card-title">Moving Fast</span>
              <hr>
              <p>Learn how to move efficiently within a file.</p>
            </div>
            <div class="card-action">
              <a href="{{ url_for('module', number=3) }}">Learn Now
              <i class="material-icons right">play_arrow
              </i>
              </a>
            </div>
          </div>
        </div>
      </div>

        </div>
      </div>
    
  {% endblock %}
