{% extends "_layout.html" %}

{% block top_block %}
    <div class="section">
        <div class="row">
        <div class="col s2">
        </div>
        <div class="col s8">
            <img class="responsive-img center-align z-depth-4" src="{{ url_for('static', filename='img/vim-labs-demo.gif') }}">

        </div>
        <div class="col s2">
        </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
        <div class="row center">
            <a href="{{ url_for('module', number=1) }}" id="Get Started" class="btn-large waves-effect waves-light my-hover indigo accent-2">Start
              <i class="material-icons right">play_arrow
              </i>
          </a>
        </div>
        <!-- Why VIM -->
        <div class="divider"></div>
        <div class="row center">
            <div class="col s1"></div>
            <div class="col s4 blue-grey-text text-lighten-4">
                <br> 
                <img class="responsive-img" src="{{ url_for('static', filename='img/vim_logo.png') }}" style="max-width: 20%;">
                <h5 style="font-weight: 300; font-size:2.0rem;">     Why Vim </h5>
                <p>
                 <span class="mainwhys">
                   Everywhere
                   </span>
                   <span class="subbullets" >
                       <br>
                   Unix, Linux, Mac OS, and even other editors
                   </span>
                </p>
<p>
                 <span class="mainwhys">
                     Fast
                   </span>
                   <span class="subbullets" >
                       <br>
                       edit text like a wizard without leaving the keyboard

                   </span>
                </p><p>
                 <span class="mainwhys">
                     Customizable
                   </span>
                   <span class="subbullets" >
                       <br>
                       Vim's has a +25 year ecosystem of plugins 
                   </span>
                </p>

            </div>
            <div class="col s2"></div>
            <div class="col s4 blue-grey-text text-lighten-4">
                <br> 
                <img class="circle responsive-img" src="{{ url_for('static', filename='img/python_code.png') }}" style="max-width: 20%;">
                <h5 style="font-weight: 300; font-size:2.0rem;">Learn by Doing</h5>
<p>
                 <span class="mainwhys">
                     Beginner to Pro
                   </span>
                   <span class="subbullets" >
                       <br>
                       from the basics of editing to advanced automation
                   </span>
                </p>
                <p>
                 <span class="mainwhys">
                     Learn Interactively
                   </span>
                   <span class="subbullets" >
                       <br>
                       explanations are alongside a full Vim editor
                   </span>
                </p>
                <p>
                 <span class="mainwhys">
                     Code Efficiently
                   </span>
                   <span class="subbullets" >
                       <br>
                       learn to Vim's elegant syntax to zoom through code
                   </span>
                </p>
            </div>
            <div class="col s1"></div>
        </div>
{% endblock %}

    
