{% extends "_layout.html" %}

{% block top_block %}
    <div class="section">
        <div class="row">
        <div class="col s2">
        </div>
        <div class="col s8">
            <img class="responsive-img center-align z-depth-4" src="{{ url_for('static', filename='img/vim-labs-demo.gif') }}">

        </div>
        <div class="col s2">
        </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
        <div class="row center">
            <a href="{{ url_for('module', number=1) }}" id="Get Started" class="btn-large waves-effect waves-light my-hover indigo accent-2">Start
              <i class="material-icons right">play_arrow
              </i>
          </a>
        </div>
{% endblock %}

    
