{% extends "module-skeleton.html" %}

{% block steps %}
            <!-- TABS -->
      <ul class="tabs tabs-transparent">
          <li class="tab col s3"><a class="active" href="#step1">1: Motions</a></li>
        <li class="tab col s3"><a href="#step2">2: Lines</a></li>
        <li class="tab col s3"><a href="#step3">3: Hop</a></li>
        <li class="tab col s3"><a href="#step4">4: Match</a></li>
      </ul>

            <!--- STEP 1 -->
            <div id="step1">
            <p class="flow-text right-align teal-text text-lighten-1">
            try it
            <i class="tiny material-icons">play_arrow </i>
            </p>
<p class="left-align blue-grey-text text-lighten-3">
What to cover: motions f, F (review), t, T  + actions delete
undo: u
useful: f + space! (copy from module 1 3)
<span class="red-text"><b> Actions</b></span> operating on 
text <span class="green-text"><b> Objects</b></span>
<br>
<br>
</p>
<blockquote class="blue-grey-text">
try typing
'
<span class="chip red">d</span>
+
<span class="chip">a</span>
+
<span class="chip green">w</span>
'
to delete the word under your cursor
</blockquote>
            </div>
            <!--- STEP 1 END -->

            <!--- STEP 2 -->
            <div id="step2">
<p class="left-align blue-grey-text text-lighten-3">
Handy Actions:

<br>
&emsp;
<span class="chip red">d</span>
delete
<br>
&emsp;
<span class="chip red">c</span>
to change (deletes and puts you in insert mode)
<br>
&emsp;
<span class="chip red">y</span>
yank (vim lingo for copy)
</p>
<p class="left-align blue-grey-text text-lighten-3">
These actions can operate
<span class="chip">a</span>
around
or 
<span class="chip">i</span>
inside
</p>
<p class="left-align blue-grey-text text-lighten-3">
Objects like a
<span class="chip green">p</span>
paragraph or
<span class="chip green">s</span>
sentence, but also
<br>
&emsp;
<span class="chip green">"</span>
quotes,
<span class="chip green">(</span>
and parenthesis.
<br>
<br>
<blockquote class="blue-grey-text">
try
'
<span class="chip red">d</span>
+
<span class="chip">i</span>
+
<span class="chip green">"</span>
'
inside the parenthesis in line 8. Ain't it magic?
</blockquote>
            </p>
            </div>
            <!--- STEP 2 END -->

            <!--- STEP 3 -->
<div id="step3">
<p class="left-align blue-grey-text text-lighten-3">
You just delete a word. Now type 
<blockquote class="blue-grey-text">
try
'
<span class="chip red">d</span>
+
<span class="chip green">w</span>
'
at the start of line 13. 
</blockquote>
</p>
<p class="left-align blue-grey-text text-lighten-3">
You just delete a word. 
<br>
To repeat the last action, just type:
<span class="chip">.</span>
<br>
<br>

You can also run an action any number of times. Try adding 3 before deleting a word:
<blockquote class="blue-grey-text">
'
<span class="chip red">3</span>
+
<span class="chip red">d</span>
+
<span class="chip green">w</span>
'
at the start of line 13. 
</blockquote>
</p>
<p class="left-align blue-grey-text text-lighten-3">
You can also repeat motions. Try moving to the next space:
</p>
<blockquote class="blue-grey-text">
'
<span class="chip yellow">f</span>
+
<span class="chip green">space</span>
'
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
To repeat the motion, just type: 
<span class="chip">;</span>
</p>

            </div>
            <!--- STEP 3 END -->

            <!--- STEP 4 -->
<div id="step4">
<p class="left-align blue-grey-text text-lighten-3">
One common operation is changing text inside quotes. 
</p>
<blockquote class="blue-grey-text">
    change the value of x on line 8:
    <br>
'
<span class="chip red">c</span>
+
<span class="chip">i</span>
+
<span class="chip green">"</span>
'
</blockquote>

<p class="left-align blue-grey-text text-lighten-3">
You can do the same for [], (), and {}.
<br>
<br>
In Vim you don't need to memorize many complex commands. 
<br>
Just learn a few useful actions and common objects. Then combining them is as natural as saying "delete inside brackets!

<blockquote class="blue-grey-text">
    <b>Challenge</b>: can you delete the useless paragraph in quotes in only three keystrokes?
</blockquote>
</p>


</div>
            <!--- STEP 4 END -->
            {% endblock %}

            {% block editor_text %}


        <!--- EDITOR SETTINGS-->
        <div class="col s6" id="editor">
"""
learn vim interactively
"""


def useless():
    x = "delete me"
    my_list = [thing1, thing2, thing3]
    return None


"""
This is a useless paragraph. Full of
mumbojumbo. Please delete 
all of me, so I don't clutter 
this workspace. 
Can you do it with a single action on a object?
"""


next = "superpowers: actions + objects"


        </div>
        </div>
    </div>
  
  </div>
  {% endblock %}

