{% extends "_base-module.html" %}

{% block steps %}
            <!-- TABS -->
      <ul class="tabs tabs-transparent">
          <li class="tab col s3"><a class="active" href="#step1">1: Visual</a></li>
        <li class="tab col s3"><a href="#step2">2: Copy</a></li>
        <li class="tab col s3"><a href="#step3">3: Repeat</a></li>
        <li class="tab col s3"><a href="#step4">4: Search</a></li>
      </ul>

            <!--- STEP 1 -->
            <div id="step1">
<p class="left-align blue-grey-text text-lighten-3">
Visual mode highlights text before you operate on it. It's a great way to make sure you're deleting or copying the right thing. 
<br>
<br>
<span class="chip">v</span> starts Visual Mode. Now, apply any motion to select text.
<br>
</p>

<blockquote class="blue-grey-text">
Try
<span class="chip">v + }</span> to grab a paragraph.
</blockquote>

<p class="left-align blue-grey-text text-lighten-3">
<span class="chip">w</span> is useful for grabbing a word as is 
selecting up to a character <span class="chip">f + character</span>
<br>
<br>
For more complex selections, activate Visual Block Mode: 
<br>
<span class="chip">V</span>
+ any motion. You can use j, k, l to highlight blocks of text. 
<br>
So what? You can, for example, insert text at the begining of many lines all at once! 
</p>
<blockquote class="blue-grey-text">
try selecting the first character on lines 6-9: 
<br>
<span class="chip">V + j</span>
then 
<span class="chip">I</span>
and ')'. Once you escape to Normal mode, text will appear on all lines!
</blockquote>

</div>
            <!--- STEP 1 END -->

            <!--- STEP 2 -->
            <div id="step2">
<p class="left-align blue-grey-text text-lighten-3">
Visual selection is useful for copying. 
</p>
<blockquote class="blue-grey-text">
Try visually selecting a paragraph: 
<span class="chip">v + }</span>
then copy (yank) using: 
<span class="chip">y</span>.
</blockquote>

<p class="left-align blue-grey-text text-lighten-3">
<span class="chip">p</span> pastes the selection. (
<span class="chip">P</span> pastes above)
<br>
You can also quickly copy lines using 
<span class="chip">yy</span>
<br>
You can apply a similar trick to delete a line: 
<span class="chip">dd</span>
<br>

Once you delete a piece of text, it's automatically added to your clipboard. So after deleting a word or paragraph you can paste it elsewhere by simply typing 
<span class="chip">p</span>!
<br>
</p>
<blockquote class="blue-grey-text">
Try copying then pasting a word:
<span class="chip">yaw</span>
then 
<span class="chip">p</span>.
</blockquote>
        </div>
            <!--- STEP 2 END -->

            <!--- STEP 3 -->
<div id="step3">
<p class="left-align blue-grey-text text-lighten-3">
With actions operating on objects, comes the power to repeat.
Type a number before an action to repeat it.
</p>
<blockquote class="blue-grey-text">
Try copying a sentence. Remember how?
(<span class="chip">yy</span>)
<br>
Instead of pasting once, type
<span class="chip">3p</span>.
</blockquote>

<p class="left-align blue-grey-text text-lighten-3">
Try applying the same idea to a motion. 
Try going down 10 lines? You could press j ten times or you can type 10j!

Finally, if you want to undo not only the last edit, but the last 2. What do you do? 2u!
</p>
</div>
            <!--- STEP 3 END -->

            <!--- STEP 4 -->
<div id="step4">
<p class="left-align blue-grey-text text-lighten-3">
How do you search for a word in Vim? It's easy! Just type
\a word
To navigate to the next instance, type n (N to go backwards).

Vim shines because by default, you can search not just for words verbatum, but also patterns. Let's search for all words with v_m where _ can be any character:
\v.m

Find this or that:
\this\|that

For more regex see here...

One other really neat trick is *, searches for the word under teh cursor, so you dont' have to type it!

</p>
</div>
            <!--- STEP 4 END -->
            {% endblock %}

            {% block editor_text %}


        <!--- EDITOR SETTINGS-->
        <div class="col s6" id="editor">
"""
learn vim interactively
"""

I'm a comment)
I'm another comment)
We're missing '#', so our program won't run)
Will you add it?)


def super_powers():
    u = "I'm a useful sentence."
    = "I'm a useless sentence, without a name :<"
    my_list = [thing1, thing2, thing3]
    vim = "my favorite editor"
    return vim


"""
Navigating text in Vim is a fun game.
With a single key, 
you can jump to the end of a line or add a word 
to the begining. 
You can also combine motions with actions:
delete everything up to the character 'd' 
is a single command away!
"""

dictionary = {"a": 2, 
              "b":3,
              "c": 0}

next = "moving at the speed of light"




        </div>
        </div>
    </div>
  
  </div>
  {% endblock %}

