{% extends "_base-module.html" %}

{% block steps %}
            <!-- TABS -->
      <ul class="tabs tabs-transparent">
          <li class="tab col s3"><a class="active" href="#step1">1: Motions</a></li>
        <li class="tab col s3"><a href="#step2">2: Lines</a></li>
        <li class="tab col s3"><a href="#step3">3: Hop</a></li>
        <li class="tab col s3"><a href="#step4">4: Match</a></li>
      </ul>

            <!--- STEP 1 -->
            <div id="step1">
<p class="left-align blue-grey-text text-lighten-3">
Remember 
<span class="chip">f + character</span>? 
<br>
<span class="chip">t</span>brings your cursor right before the character 
<br>
&emsp;
<span class="chip">T</span> moves you backwards
<br>
<br>
Amazingly, you use these motions with an action. 
&emsp;
<span class="chip">dt + character</span> deletes everything before the character!
</p>
<blockquote class="blue-grey-text">
try deleting "thing2, thing3" on line 10 
<br>
using <span class="chip">t</span> 
<br>
(be sure to preserve the brackets)
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
<br>
Oops, we just realized 'thing2, and thing3' are really important. How can we ever get them back? Type 
<span class="chip">u</span> to undo the last action.
<br>
<br>
<b>Tip</b>:
<span class="chip">f + space</span> moves to the next white space.
</p>
            </div>
            <!--- STEP 1 END -->

            <!--- STEP 2 -->
            <div id="step2">
<p class="left-align blue-grey-text text-lighten-3">
How can you add a new line?
<br>
&emsp;
<span class="chip">o</span> adds a line below
<br>
&emsp;
<span class="chip">O</span> adds a line above
<br>
<br>
There are also efficient ways of working in a line:
<br>
&emsp;
<span class="chip">$</span> moves to the end of a line
<br>
&emsp;
<span class="chip">0</span> to the begining
<br>
<br>
And you can edit a line at the start using
<span class="chip">I</span>
<br>
&emsp;
<span class="chip">A</span> to edit the end
</p>
<blockquote class="blue-grey-text">
    give the sentence in line 9 a name using 
<span class="chip">I</span>
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
I hope you're begining to realize the power of motions!
</p>
            </div>
            <!--- STEP 2 END -->

            <!--- STEP 3 -->
<div id="step3">
<p class="left-align blue-grey-text text-lighten-3">
You just delete a word. Now type 
<blockquote class="blue-grey-text">
try
'
<span class="chip red">d</span>
+
<span class="chip green">w</span>
'
at the start of line 13. 
</blockquote>
</p>
<p class="left-align blue-grey-text text-lighten-3">
You just delete a word. 
<br>
To repeat the last action, just type:
<span class="chip">.</span>
<br>
<br>

You can also run an action any number of times. Try adding 3 before deleting a word:
<blockquote class="blue-grey-text">
'
<span class="chip red">3</span>
+
<span class="chip red">d</span>
+
<span class="chip green">w</span>
'
at the start of line 13. 
</blockquote>
</p>
<p class="left-align blue-grey-text text-lighten-3">
You can also repeat motions. Try moving to the next space:
</p>
<blockquote class="blue-grey-text">
'
<span class="chip yellow">f</span>
+
<span class="chip green">space</span>
'
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
To repeat the motion, just type: 
<span class="chip">;</span>
</p>

            </div>
            <!--- STEP 3 END -->

            <!--- STEP 4 -->
<div id="step4">
<p class="left-align blue-grey-text text-lighten-3">
One common operation is changing text inside quotes. 
</p>
<blockquote class="blue-grey-text">
    change the value of x on line 8:
    <br>
'
<span class="chip red">c</span>
+
<span class="chip">i</span>
+
<span class="chip green">"</span>
'
</blockquote>

<p class="left-align blue-grey-text text-lighten-3">
You can do the same for [], (), and {}.
<br>
<br>
In Vim you don't need to memorize many complex commands. 
<br>
Just learn a few useful actions and common objects. Then combining them is as natural as saying "delete inside brackets!

<blockquote class="blue-grey-text">
    <b>Challenge</b>: can you delete the useless paragraph in quotes in only three keystrokes?
</blockquote>
</p>


</div>
            <!--- STEP 4 END -->
            {% endblock %}

            {% block editor_text %}


        <!--- EDITOR SETTINGS-->
        <div class="col s6" id="editor">
"""
learn vim interactively
"""


def move_faster():
    u = "I'm a useful sentence."
    = "I'm a useless sentence, without a name :<"
    my_list = [thing1, thing2, thing3]
    return None


"""
Navigating text in Vim is a fun game.
With a single key, 
you can jump to the end of a line or add a word 
to the begining. 
You can also combine motions with actions:
delete everything up to the character 'd' 
is a single command away!
"""


next = "moving at the speed of light"


        </div>
        </div>
    </div>
  
  </div>
  {% endblock %}

