{% extends "_base-module.html" %}

{% block steps %}
  <ul class="tabs tabs-transparent">
      <li class="tab col s3"><a class="active" href="#step1">1: Modes </a></li>
    <li class="tab col s3"><a href="#step2">2: Moving</a></li>
    <li class="tab col s3"><a href="#step3">3: Faster</a></li>
    <li class="tab col s3"><a href="#step4">4: Jumping</a></li>
  </ul>
        <!--- STEP 1 -->
        <div id="step1" class="intro_text">
        <p class="flow-text right-align teal-text text-lighten-1">
        </p>
            <blockquote class="blue-grey-text">
                Your very own Vim is on the right.
                <br>
                Click to make it active (border turns blue)!
            </blockquote>
<p class="left-align blue-grey-text text-lighten-3">
Vim's power stems from the ability to switch modes.
<br>
<br>
<b>Normal Mode</b> is for taking actions. It's
what you're in now:
<br>
&emsp;
cursor is a red rectangle 
<img class="responsive-img" style="max-width: 3%;" src="{{ url_for('static', filename='img/normal_mode.gif') }}">
<br>
<br>

<b>Insert Mode</b>  is for typing text.
Type
<span class="chip">i</span>
to enter Insert Mode.
<br>
&emsp;
cursor is a thin line
<img class="responsive-img" style="max-width: 1%;" src="{{ url_for('static', filename='img/insert_mode.gif') }}">
<br>
Type away!
</p>
<blockquote class="blue-grey-text">
try typing your name inside the parenthesis on line 10
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
Once finished
<span class="chip">ESC</span>
to return to 
<b>Normal Mode</b>
<br>
<br>
    <span class="blue-grey-text">
Click out of the editor  and press j to see what's next!
        <br>
        (you can also click the arrow below)
    </span>
        </p>
        </div>
        <!--- STEP 1 END -->

        <!--- STEP 2 -->
        <div id="step2">
<p class="left-align blue-grey-text text-lighten-3">
As you become a text-editing wizard, you'll hardly ever reach for the mouse.
<br>
<br>
In Normal Mode (remember ESC),
<br>
&emsp;
<span class="chip">j</span>
moves down
<br>
&emsp;
<span class="chip">k</span>
moves up
</p>
<blockquote class="blue-grey-text">
your index finger naturally rests on 'j', how nice!
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
<br>
You can also navigate paragraphs:
<br>
&emsp;
<span class="chip">]</span>
down a paragaph
<br>
&emsp;
<span class="chip">[</span>
up a paragraph
        </p>
<blockquote class="blue-grey-text">
down a paragraph = next blank line
</blockquote>
        </div>
        <!--- STEP 2 END -->

        <!--- STEP 3 -->
<div id="step3">
<p class="left-align blue-grey-text text-lighten-3">
Let's kick it up a notch
<br>
&emsp;
<span class="chip">G</span>
jumps to the bottom
<br>
&emsp;
<span class="chip">gg</span>
jumps to the top
<br>
</p>
<blockquote class="blue-grey-text">
Vim understands words, paragraphs, and other text objects
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
You can navigate words
<br>
&emsp;
<span class="chip">w</span>
next word (first letter)
<br>
&emsp;
<span class="chip">e</span>
next word (last letter)
<br>
<br>
&emsp;
<span class="chip">b</span>
previous word (first letter)
        </p>
        </div>
        <!--- STEP 3 END -->

        <!--- STEP 4 -->
<div id="step4">
<p class="left-align blue-grey-text text-lighten-3">
You can jump directly to any character on a line
<br>
&emsp;
<span class="chip">f + character</span>
</p>
<blockquote class="blue-grey-text">
from the start of line 7, type 'f' followed by 'V'
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
How amazing! Who needs the mouse?
<br>
<br>
You can go backwards using
<br>
&emsp;
<span class="chip">F + character</span>
<br>
<br>
Once finished
<span class="chip">:w</span>
saves your work.
<br>
<br>
<hr>
<br>
<div class="row center">
              <a href="{{ url_for('practice', number=1) }}" class="waves-effect waves-light btn green accent-4 z-depth-5"><i class="material-icons left">settings_input_hdmi</i>practice</a>
        </p>
</div>
        </div>
        <!--- STEP 4 END -->

{% endblock %}

<!--- EDITOR SETTINGS-->
{% block editor_text %}
        <div class="col s6 interactive_vim" id="editor">
    """
    learn vim interactively
    """

    def greeting():
        yield "Howdy! I'm almighty Vim."
        yield "Type right in here to learn"

    greeting()


    """
    You can always find help on the left

    As you learn, be adventerous.  
    There's nothing here to break.  
    """ 

    next = "Vim Super Powers"


        </div>
{% endblock %}

{% block introscript %}
<script src="{{ url_for('static', filename='js/enjoyhint.min.js') }}"></script>
<script>
//initialize instance
var enjoyhint_instance = new EnjoyHint({});

//simple config. 
//Only one step - highlighting(with description) "New" button 
//hide EnjoyHint after a click on the button.
var enjoyhint_script_steps = [
      {
              'click .intro_text' : 'Explanation of Vim\'s power',
              'showNext' : true,
                  'showSkip' : false,
    'shape': 'circle'
                    },  
{
    'click .interactive_vim' : 'Try out commands. This is your very own Vim!',
    'shape': 'circle',
    'skipButton' : {text: "Start"},

},
];


//set script config
enjoyhint_instance.set(enjoyhint_script_steps);

//run Enjoyhint script
enjoyhint_instance.run();
</script>

{% endblock %}
