{% extends "_base-module.html" %}

{% block steps %}
            <!-- TABS -->
      <ul class="tabs tabs-transparent">
          <li class="tab col s3"><a class="active" href="#step1">1: Motions</a></li>
        <li class="tab col s3"><a href="#step2">2: Lines</a></li>
        <li class="tab col s3"><a href="#step3">3: Hop</a></li>
        <li class="tab col s3"><a href="#step4">4: Match</a></li>
      </ul>

            <!--- STEP 1 -->
            <div id="step1">
<p class="left-align blue-grey-text text-lighten-3">
Remember 
<span class="chip">f + character</span>? 
<br>
<span class="chip">t</span>brings your cursor right before the character 
<br>
&emsp;
<span class="chip">T</span> moves you backwards
<br>
<br>
Amazingly, you use these motions with an action. 
<br>
&emsp;
<span class="chip">dt + character</span> deletes everything before the character!
</p>
<blockquote class="blue-grey-text">
try deleting "thing2, thing3" on line 10 
<br>
using <span class="chip">t</span> 
<br>
(be sure to preserve the brackets)
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
<br>
Oops, we just realized 'thing2, and thing3' are really important. How can we ever get them back? Type 
<span class="chip">u</span> to undo the last action.
<br>
<br>
<b>Tip</b>:
<span class="chip">f + space</span> moves to the next white space.
</p>
            </div>
            <!--- STEP 1 END -->

            <!--- STEP 2 -->
            <div id="step2">
<p class="left-align blue-grey-text text-lighten-3">
How can you add a new line?
<br>
&emsp;
<span class="chip">o</span> 
adds a line below
<br>
&emsp;
<span class="chip">O</span> adds a line above
<br>
<br>
There are also efficient ways of working in a line:
<br>
&emsp;
<span class="chip">$</span> moves to the end of a line
<br>
&emsp;
<span class="chip">0</span> to the begining
<br>
<br>
<span class="chip">I</span>
edit the begining of a line
<br>
&emsp;
&emsp;
 edit the end of a line <span class="chip">A</span>
</p>
<blockquote class="blue-grey-text">
    give the sentence in line 9 a name using 
<span class="chip">I</span>
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
I hope you're begining to realize the power of motions!
</p>
            </div>
            <!--- STEP 2 END -->

            <!--- STEP 3 -->
<div id="step3">
<p class="left-align blue-grey-text text-lighten-3">
Say you neeed to add at the top of your file? 
<br>
&emsp;
<span class="chip">gg</span>
will place your cursor at the top
<br>
&emsp;
<span class="chip">G</span>
at the bottom
<br>
<br>
You can also jump around blocks of text or code
<br>
&emsp;
<span class="chip">}</span>
 jump to the next paragraph (blank line)
<br>
&emsp;
<span class="chip">{</span>
jump to the paragraph above
<blockquote class="blue-grey-text">
    Try to:
    <br>
    1. jump to the first line
    <br>
    2. skip below the function to line 13 
    <br>
    in as few keystrokes as possible
<span class="chip">I</span>
</blockquote>
</p>

            </div>
            <!--- STEP 3 END -->

            <!--- STEP 4 -->
<div id="step4">
<p class="left-align blue-grey-text text-lighten-3">
What if you jumped somewhere after making an edit?
<br>
&emsp;
<span class="chip">' '</span>
jump to the last edit
</p>
<blockquote class="blue-grey-text">
    Try to:
    <br>
    1. change "my" on line 11 to your name
    <br>
    2. jump to the last line
    <br>
    3. can you jump back to where you were?
    <br>
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
What if you wanted to match a bracket, parthensis, or quotes?
<br>
&emsp;
<span class="chip">%</span>
matches the other pair over your cursor.
<blockquote class="blue-grey-text">
    Try to:
    <br>
    1. jump to the '{' on line 25
    <br>
    2. can you change the value of c from 0 to 1?
    <br>
    (in as few key strokes as possible)
</blockquote>
</p>
<p class="left-align blue-grey-text text-lighten-3">
&emsp;
<span class="chip">*</span>
reveals all the places the word over your cursor appears.
<br>
</p>
<blockquote class="blue-grey-text">
    Try to:
    <br>
    1. move to the word 'vim' on line 3
    <br>
    2. can you uncover all the places the word 'vim' appears?
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
We'll learn all about the magic of searching shortly.
</p>
</div>
            <!--- STEP 4 END -->
            {% endblock %}

            {% block editor_text %}


        <!--- EDITOR SETTINGS-->
        <div class="col s6" id="editor">
"""
learn vim interactively
"""


def move_faster():
    u = "I'm a useful sentence."
    = "I'm a useless sentence, without a name :<"
    my_list = [thing1, thing2, thing3]
    vim = "my favorite editor"
    return vim


"""
Navigating text in Vim is a fun game.
With a single key, 
you can jump to the end of a line or add a word 
to the begining. 
You can also combine motions with actions:
delete everything up to the character 'd' 
is a single command away!
"""

dictionary = {"a": 2, 
              "b":3,
              "c": 0}

next = "moving at the speed of light"


        </div>
        </div>
    </div>
  
  </div>
  {% endblock %}

