{% extends "_base-module.html" %}

{% block steps %}
    <!-- TABS -->
      <ul class="tabs tabs-transparent">
          <li class="tab col s3"><a class="active" href="#step1">1: Replace</a></li>
        <li class="tab col s3"><a href="#step2">2: Registers</a></li>
        <li class="tab col s3"><a href="#step3">3: Intro Macros</a></li>
        <li class="tab col s3"><a href="#step4">4: Macros</a></li>
      </ul>

            <!--- STEP 1 -->
            <div id="step1">
<p class="left-align blue-grey-text text-lighten-3">
Let's replace all dogs with cats
</p>
<blockquote class="blue-grey-text">
<b>:%s/</b><span class="red-text">dog</span>/ <span class="green-text">cat</span>/g
<br>
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
What just happened?
<br>
&emsp;
<b>:%s</b> specifies search and replace
<br>
&emsp;
then we specify <span class="red-text">old word</span> 
<br>
using same syntax we learned for search.
<br>
&emsp;
specify <span class="green-text">new word</span>
<br>
and we end with "/g" for global 
<br>to replace all instances of dog with cat. 
<br>
<br>
<b>Tip</b>: if you want to confirm before replacing add 'c' at the end.
<br>
<br>
You can also search only a specific region of text by visually selecting first, then typing 
:s/<span class="red-text">oldword</span>/ <span class="green-text">newword</span>/g
</p>
            </div>
            <!--- STEP 1 END -->

            <!--- STEP 2 -->
            <div id="step2">
<p class="left-align blue-grey-text text-lighten-3">
Vim can remember what you copied long ago, even if you copy over it. Let's introduce you to Vim's intelligent clipboard:
</p>
<blockquote class="blue-grey-text">
    Let's delete line 5 
    <br>
    remember 
<span class="chip">dd</span>?
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
Now let's copy something else. 
</p>
<blockquote class="blue-grey-text">
    try copying line 3 (yy maybe handy)
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
Behold the wonders of Vim's clipboard:
</p>
<blockquote class="blue-grey-text">
    Type
&emsp;
<span class="chip">:reg</span>
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
You should see both the text you copied and the text you deleted! 
<br>
You can paste text from the register " followed by the register number.
</p>
<blockquote class="blue-grey-text">
    Try pasting "Pets are great" using
&emsp;
<span class="chip">"1p</span>
</blockquote>
            </div>
            <!--- STEP 2 END -->

            <!--- STEP 3 -->
<div id="step3">
<p class="left-align blue-grey-text text-lighten-3">
You just delete a word. Now type 
<blockquote class="blue-grey-text">
try
'
<span class="chip red">d</span>
+
<span class="chip green">w</span>
'
at the start of line 13. 
</blockquote>
</p>
<p class="left-align blue-grey-text text-lighten-3">
You just delete a word. 
<br>
To repeat the last action, just type:
<span class="chip">.</span>
<br>
<br>

You can also run an action any number of times. Try adding 3 before deleting a word:
<blockquote class="blue-grey-text">
'
<span class="chip red">3</span>
+
<span class="chip red">d</span>
+
<span class="chip green">w</span>
'
at the start of line 13. 
</blockquote>
</p>
<p class="left-align blue-grey-text text-lighten-3">
You can also repeat motions. Try moving to the next space:
</p>
<blockquote class="blue-grey-text">
'
<span class="chip yellow">f</span>
+
<span class="chip green">space</span>
'
</blockquote>
<p class="left-align blue-grey-text text-lighten-3">
To repeat the motion, just type: 
<span class="chip">;</span>
</p>

            </div>
            <!--- STEP 3 END -->

            <!--- STEP 4 -->
<div id="step4">
<p class="left-align blue-grey-text text-lighten-3">
One common operation is changing text inside quotes. 
</p>
<blockquote class="blue-grey-text">
    change the value of x on line 8:
    <br>
'
<span class="chip red">c</span>
+
<span class="chip">i</span>
+
<span class="chip green">"</span>
'
</blockquote>

<p class="left-align blue-grey-text text-lighten-3">
You can do the same for [], (), and {}.
<br>
<br>
In Vim you don't need to memorize many complex commands. 
<br>
Just learn a few useful actions and common objects. Then combining them is as natural as saying "delete inside brackets!

<blockquote class="blue-grey-text">
    <b>Challenge</b>: can you delete the useless paragraph in quotes in only three keystrokes?
</blockquote>
</p>
<div class="row center">
    <br>
    <hr>
    <br>
<a href="{{ url_for('landing') + '#modules' }}" id="modules" class="btn-large waves-effect waves-light red"> Modules
          <i class="material-icons right">
              view_module
          </i>
      </a>
    </div>

</div>
            <!--- STEP 4 END -->
            {% endblock %}

            {% block editor_text %}
        <!--- EDITOR SETTINGS-->
        <div class="col s6" id="editor">
"""
learn vim interactively

Pets are great
"""


class Pet:
    list_of_pets = {"dog", "cat", "lion"}
    pet1 = "dog"
    pet2 = "cat"
    pet3 = "elephant?"

    def __init__(self, name):
        if name in list_of_pets:
            self.name = name
        else:
            self.name = "unknown"


my_pet = Pet("dog")

"""
I wonder which pet is better.
Cats have benefits.
Dogs have benefits.
Lions are scary.
I think I'll search for a nice dog. 
"""


next = "coding powers"


        </div>
        </div>
    </div>
  
  </div>
  {% endblock %}

