{% extends "_base-module.html" %}

{% block steps %}

            <!--- STEP 1 -->
<div id="step1">
<p class="left-align blue-grey-text text-lighten-3">
          1. Fill in the last word in line 3 ("rumble would work")
          <br>
</p>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
          <i class="material-icons">lightbulb_outline</i>hint</div>
      <div class="collapsible-body blue-grey-text text-lighten-3"><span>
              Type
<span class="chip">i</span> 
to insert text
          </span>
      </div>
    </li>
  </ul>

<p class="left-align blue-grey-text text-lighten-3">
          2. Can you quickly fix the typo on line 3 ("vam")
          <br>
</p>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
          <i class="material-icons">lightbulb_outline</i>hint</div>
      <div class="collapsible-body blue-grey-text text-lighten-3"><span>
              Type
<span class="chip">esc</span> to enter normal mode. Then 
<span class="chip">j</span> to go down. 
(there's an even quicker way if you're clever)
          </span>
      </div>
    </li>
  </ul>

<p class="left-align blue-grey-text text-lighten-3">
          3. Oops, there's another typo at the top. "Practice" is missing all its Cs. Can you fix that? 
          <br>
</p>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
          <i class="material-icons">lightbulb_outline</i>hint</div>
      <div class="collapsible-body blue-grey-text text-lighten-3"><span>
              remember normal and insert modes
          </span>
      </div>
    </li>
  </ul>


<p class="left-align blue-grey-text text-lighten-3">
          4. Ok, well done. Add your name in the [] at the bottom
          <br>
</p>
  <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
          <i class="material-icons">lightbulb_outline</i>hint</div>
      <div class="collapsible-body blue-grey-text text-lighten-3"><span>
<span class="chip">G</span> will bring you to the bottom in normal mode.
          </span>
      </div>
    </li>
  </ul>

            </div>
            <!--- STEP 1 END -->

            {% endblock %}

            {% block editor_text %}


        <!--- EDITOR SETTINGS-->
        <div class="col s6" id="editor">
"""
Are you ready to 

Time to pratie that Vim foo!
"""


def get_bearings():
    modes = [insert, normal]
    if mode == normal:
        apply("i")
    return "vam goodness"

def no_arrow_keys():
    if up_arrow():
        return k
    if down_arrow():
        return j
    if right_arrow():
        return l
    return h


"""
I'm a terrible speller, pardon my fransh

Well done []!
"""



        </div>
        </div>
    </div>
  
  </div>
  {% endblock %}

